<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <h1>Servicios</h1>
            <table id="tabla" class="table table-striped"> 
                <thead>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Duracion (minutos)</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <% servicios.forEach(function(servicio) { %>
                        <tr>
                            <th><%= servicio.nombre %></th>
                            <th><%= servicio.precio %></th>
                            <th><%= servicio.duracionMinutos %></th>
                            <td>
                                <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                                <a href="#" class="btn btn succ btn-info">Actualizar</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>